body {
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.6;
}

body, h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}

.w3-bar .w3-button {
  padding: 12px;
}


.flag {
  width: 40px;
  height: 10%;
  border-radius: 10px; 
  object-fit: contain;
  margin-top: 10px;
}


.bgimg-1 {
  background-image: url(../images/homepage.jpg); /* Background image */
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
  display: flex;
  align-items: center;
  justify-content: center;
  border: 50px solid #3C4D61;
  height: 100vh;  
  width: 100vw;   
  margin: 0;      
}

.background-wrapper {
  background-color: #3C4D61;  
  padding: 0;  
  margin: 0;   
  border: 25px solid #3C4D61; 

}

.bold-heading {
  font-weight: 800;
  color: #A73D4A;
  text-shadow:
    -1px -1px 0 white,
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white;
}

.header-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  text-align: center;
  font-weight: 800;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f3f1ed; 
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  background-color: white; /* light gray background */
  padding: 16px;             /* inner spacing */
  border: 1px solid #ddd;    /* subtle border */
  border-radius: 8px;        /* rounded corners */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* soft shadow */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

@media (max-width: 650px) {
  .card-wrapper {
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    width: 90%; /* makes the card responsive to screen size */
  }
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  background-color: white; /* light gray background */
  padding: 16px;             /* inner spacing */
  border: 1px solid #ddd;    /* subtle border */
  border-radius: 8px;        /* rounded corners */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* soft shadow */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

@media (max-width: 650px) {
  .card-wrapper {
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    width: 90%; /* makes the card responsive to screen size */
  }
}

#about {
  background-color: #a97458; 
  padding: 3rem;
  border-radius: 30px;
  font-family: 'Segoe UI', sans-serif;
  color: #fff8f0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  max-width: 90%;
  margin: 3rem auto;
  text-align: center;
}

#about h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

#about p {
  font-size: 1.4rem;
  line-height: 2;
  margin-top: 1.5rem;
}


